{% extends 'weather/base.html' %}




{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в вашем городе</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city">Город</label>
                    {{ form.name }}
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
                </form>
            </div>
            <div class="col-4 offset-1">
                <h1>Информация</h1>

                {% for info in all_info %}
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-9">
                            <b>Город: </b>{{ info.city }}<br>
                            <b>Температура: </b>{{ info.temp }}<sup>o</sup><br>
                            <img src="http://openwathermap.org/img/w/{{ info.icon }}.png" alt="фото погоды" class="img-thumbnail">
                            <p><a href="{}">Удалить</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
